<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Насос питьевой воды</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css" />
    <script type="text/javascript">
	 window.onload=()=>{
	     setInterval(async ()=>{ 
		const response = await fetch('/jfile',{
		    method: 'GET',
		    headers:{'Content-Type':'application/json'}
		});
		const text = await response.text();
		pump_data_obj=JSON.parse(text);
		let out_table="<table border='2' class=\"table-striped  table-hover table-sm \">"
		for(let key in pump_data_obj){
		    out_table+="<tr><td>"+key + "</td>" + "<td>"+pump_data_obj[key] + "</td></tr>"
		}
		out_table+="</table>"
		document.getElementById('refr_part').innerHTML=out_table;
	     },1000);
	 }
     

    </script>
</head>
<body>
    <h1 class="card-header"> Измеренные данные насоса  </h1>
    <pre id="refr_part"> <%= received_buf %> </pre>
    <button id="ResetBtn" class="btn btn-outline-primary">Reset</button>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>

	<div style="width: 800px;">
		<canvas id="basic_trend"></canvas>
	</div>
    <h2> <div id='alarms'>Алармов нет</div></h2>	
    <script type="text/javascript">
        ResetBtn.onclick=async(e) =>{
			let resp=await fetch('/reset_alarm',{
				method: 'GET',
				headers:{'Content-Type':'application/json'}
			})
			let text=await resp.text();		
		}		
    </script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js/Chart.min.js"></script> -->
	<!-- <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"> </script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->
	<script src="chart.umd.js"></script>
    <script src="bootstrap.min.js"></script>
	
	<script type="module" src="basic_trend.js"></script>
</body>
</html>
