<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Насос питьевой воды</title>
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css" />
    <link href="rome.css" rel="stylesheet">
    <style>.dot {
        height: 7px;
        width: 50px;
        background-color: #bbb;
        border-radius: 3px;
        display: inline-block;
      }
      /* Fix table head */
        .tableFixHead    { overflow: auto; height: 200px; }
        .tableFixHead th { position: sticky; top: 0; } 
        .tableFixHead th     { background:#eee;}
        .tableFixHead th, td ,tr { padding: 0 !important; }
        /* .tableFixHead thead { border-color: blue;border-width: 2px; } */
    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-4">
                <h4 class="card-header"> Текущие данные насоса  </h4>
                <div id="table_place"> 
                    <table border="2" id="inst_table_id" class="table table-sm table-hover table-bordered">
                        <thead class="table-info">                 
                            <tr>                                
                            <th scope="col">Параметр</th>        
                            <th scope="col">Значение</th>         
                            <th scope="col">График</th>       
                            </tr>                               
                        </thead>
                        <tbody id="inst_tbody_id"> </tbody>
                    </table>
                </div>
                <button id="ResetBtn" class="btn btn-outline-primary">Reset</button>
            </div>
        
            <div class="col-8">
                <div class="row">
                    <div style="width: 800px;">
                        <canvas id="basic_trend"></canvas>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="d-flex gap-1 bd-highlight justify-content-center">     -->
                    <div class="d-flex gap-1 justify-content-center mx-4">    
                        <button id="chart_btn_LL" type="button" class="btn btn-secondary btn-sm">&#x21c7</button>
                        <button id="chart_btn_L"  type="button" class="btn btn-secondary btn-sm">&#x21D0</button>
                        <div class="input-group flex-nowrap " style="width: max-content">
                            <input id="end_dtime_picker_id" class="input" style="width: 150px;">
                            <button id="chart_btn_jump" type="button" class="btn btn-secondary btn-sm">&#x21B7</button>
                        </div>                       
                        <button id="chart_btn_R" type="button" class="btn btn-secondary btn-sm">&#x21D2</button>
                        <button id="chart_btn_RR"  type="button" class="btn btn-secondary btn-sm">&#x21C9</button>
                        <div class="px-2">
                            <button id="chart_btn_Last" type="button" class="btn btn-secondary btn-sm">&#x21E5</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="tableFixHead">
                    <table id="alarms_table_id" class="table table-sm table-hover table-bordered" >
                        <thead>
                            <tr>
                                <th>Время</th>
                                <th>&#x2690</th>
                                <th>Описание тревоги</th>
                                <th>Бит</th>
                                <th>Счетчик</th>
                            </tr>
                        </thead>
                        <tbody id="alarms_tbody_id">
                        </tbody>
                    </table>
                </div>
            </div>
            <h1>  </h1> 
            <h1>  </h1> 
            <h1>  </h1> 
        </div>
    </div>
    

    <script type="text/javascript" src="pp_table.js"></script>
    <script type="text/javascript" src="alarm_table.js"></script>
    <script type="text/javascript">
        window.onload = () => {
            rome(end_dtime_picker_id,{weekStart:1});
            setInterval(async () => {
                const response = await fetch('/jfile', {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                });
                const text = await response.text();
                pump_data_obj = JSON.parse(text);
                PumpTableDraw(pump_data_obj)
            }, 1000);
            GetAlarmData();
        }
    </script>
	<script src="chart.umd.js"></script>
    <script src="rome.js"></script>
    <script src="bootstrap.bundle.min.js"></script>	
    <script type="text/javascript"> PumpTableDraw(); </script>	
	<script type="text/javascript" src="basic_trend.js"></script>
    <script type="text/javascript">
        ResetBtn.onclick=async(e) =>{
			let resp=await fetch('/reset_alarm',{
				method: 'GET',
				headers:{'Content-Type':'application/json'}
			})
			let text=await resp.text();		
		}
        chart_btn_L.onclick=TrendMoveL;
        chart_btn_LL.onclick=TrendMoveLL;
        chart_btn_Last.onclick=TrendMoveLast;
        chart_btn_R.onclick=TrendMoveR;
        chart_btn_RR.onclick=TrendMoveRR;
        chart_btn_jump.onclick=async(e) => {
            let jump_time=document.getElementById('end_dtime_picker_id').value;
            TrendJump2time(jump_time);
        }
       
    </script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js/Chart.min.js"></script> -->
	<!-- <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"> </script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script> -->


</body>
</html>
